.Heading {
	display: flex;
	align-items: flex-end;
	width: 100%;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;

	.Text {
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;

		h2 {
			font-family: 'Saira Semi Condensed', sans-serif;
			font-size: 2.5rem;
			font-weight: normal;
			font-style: normal;	
			color: #ffffff;
		}
	}
}