.Heading {
	width: 100%;
	position: relative;

	.Image {
		min-width: 100%;
		object-fit: none;
		max-height: 300px;

		img {
			object-fit: cover;
			min-width: 100%;
			max-height: inherit;
		}
	}

	.Text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;

		h2 {
			font-family: 'Saira Semi Condensed', sans-serif;
			font-size: 2.5rem;
			font-weight: normal;
			font-style: normal;	
			color: #ffffff;
		}
	}
}