.Heroes {
  margin-top: 0rem;
}

h1 {
  color: #ffffff;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: normal;
  font-style: normal;	
  font-size: 2.5rem;
}
// Small Displays
@media only screen and (max-width: 768px) {
  .Main {
    grid-template-areas: "logo" "board" "alliances" "search" "heroes";
    padding: 0rem;
  }
  .Board {
    width: 100%;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
  }
  .Heroes {
    justify-content: center;
  }
  .Alliances {
    margin: 1rem;
    .Alliance {
      margin-right: 0.5rem;
      display: inline-block;
    }
    .Image {
      width: 100%;
      height: auto;
    }
  }
  .Search {
    .Alliances {
      width: 100%;
      justify-content: center;
    }
    .All {
      padding: 0.5rem;
    }
    .Image {
      width: 50px;
    }
  }
}