.Alliances {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: inherit;
	overflow-x: scroll;
  
	.Alliance {
		// margin-right: 1rem;
		margin-bottom: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
  
		.Image {
			transform: scale(0.5);
			img {
				min-width: 100%;
				height: auto;
			}
		}

		.Progress {
			display: flex;
			flex-direction: row;

			.ProgressBar {
				display: flex;
				flex-direction: column;
				margin-left: 0.3rem;

				.Bar {
					width: 10px;
					height: 20px;
					background: rgba(255, 255, 255, 0.5);
					border-radius: 7px;
					margin-top: 0.3rem;

					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}

		.Text {
			margin-left: 1rem;
			font-size: 1.5rem;
			color: #ffffff;
		}
	}
}

// Small Displays
@media only screen and (max-width: 768px) {
	.Alliances {
		flex-wrap: nowrap;
		flex-direction: row;
	  
		.Alliance {
			margin-bottom: 0rem;
		}
	}
}