.Tooltip {
    margin: 1rem;
    position: relative;
    cursor: pointer;

    .Hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        padding-bottom: 0.5rem;
        color: #ffffff;
        border-radius: 5px;
        font-family: 'Saira Semi Condensed', sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5rem;


        .Image {
            max-width: 100%;
            height: auto;
            margin-bottom: 0.5rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
    
    .Right {
        min-width: 200px; 
        top: 50%;
        left: 120%;
        margin-left: 0px;
        transform: translate(0, -50%);
        padding: 10px 20px;
        color: #444444;
        background-color: #EEEEEE;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 5;
        box-sizing: border-box;
        box-shadow: 0 1px 8px rgba(0,0,0,0.5);
        display: none;
        transition: 0.5s ease-in-out;

        i {
            position:absolute;
            top:50%;
            right:100%;
            margin-top:-12px;
            width:12px;
            height:24px;
            overflow:hidden;
        }

        i::after {
            content:'';
            position:absolute;
            width:12px;
            height:12px;
            left:0;
            top:50%;
            transform:translate(50%,-50%) rotate(-45deg);
            background-color:#EEEEEE;
            box-shadow:0 1px 8px rgba(0,0,0,0.5);
        }

    }
    
}

.Tooltip:hover {

    .Right {
        display:block;
    }
    
}


// Small Displays
@media only screen and (max-width: 768px) {
    .Tooltip {
        margin: 0.3rem;
    }
}