.Tooltip {
    margin: 1rem;
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
    border-radius: 50%;

    .Image {
        min-width: 70px;
        max-width: 70px;
        height: auto;
    }
    
    .Right {
        min-width: 200px; 
        top: 50%;
        left: 120%;
        margin-left: 0px;
        transform: translate(0, -50%);
        padding: 10px 20px;
        color: #444444;
        background-color: #EEEEEE;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        box-shadow: 0 1px 8px rgba(0,0,0,0.5);
        display: none;
        transition: 0.5s ease-in-out;

        i {
            position:absolute;
            top:50%;
            right:100%;
            margin-top:-12px;
            width:12px;
            height:24px;
            overflow:hidden;
        }

        i::after {
            content:'';
            position:absolute;
            width:12px;
            height:12px;
            left:0;
            top:50%;
            transform:translate(50%,-50%) rotate(-45deg);
            background-color:#EEEEEE;
            box-shadow:0 1px 8px rgba(0,0,0,0.5);
        }

    }
    
}

.Tooltip:hover {

    .Right {
        display:block;
    }
    
}


.Hero {
    transition: 0.1s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .Holder {
        background: rgba(0, 0, 0, 0.5);
    }

    .Image {
        width: 100%;
        height: auto;
    }
}

// Small Displays
@media only screen and (max-width: 768px) {
    .Tooltip {
        .Image {
            min-width: 100px;
            max-width: 100px;
            height: auto;
        }
    }
    .Tooltip:hover {
        .Right {
            display: none;
        }
    }
}